name: frontend
description: "Technology Trend Analysis Platform - Dashboard"
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.10.7

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  fl_chart: ^0.69.0
  csv: ^6.0.0
  google_fonts: ^6.2.1
  http: ^1.2.0
  font_awesome_flutter: ^10.7.0
  archive: ^3.4.10
  universal_html: ^2.3.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  
  assets:
    - assets/data/
    - assets/images/
